<!DOCTYPE html>
<html>

<head>
<title>Littleflow</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="assets/css/uikit.min.css" />
<link rel="stylesheet" href="assets/css/site.css" />
<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/uikit.min.js"></script>
<script src="assets/js/uikit-icons.min.js"></script>
<script src="assets/js/svg-pan-zoom.js"></script>
<script src="assets/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mermaid@10.2/dist/mermaid.min.js"></script>
</head>

<body>
<section class="uk-section uk-padding-small">
<ul class="uk-iconnav" id="main-nav">
    <li><a href="#refresh" uk-icon="icon: refresh" title="Refresh the workflow list"></a></li>
    <li><a href="#restore" uk-icon="icon: upload" title="Restore a workflow"></a></li>
    <li><a href="#run" uk-icon="icon: play-circle" title="Run a workflow"></a></li>
    <li><a href="#previous-page" uk-icon="icon: chevron-left" title="Previous page"></a></li>
    <li><span uk-tooltip="Page" id="page">1</span></li>
    <li><a href="#next-page" uk-icon="icon: chevron-right" title="Next page"></a></li>
</ul>
<hr class="uk-divider-icon">
<ul id="workflows" uk-accordion="multiple: true">
</ul>
<p class="version">littleflow {{version['littleflow']}}, littleflow_redis {{version['littleflow_redis']}}</p>
</body>
</section>

<div id="render"></div>

</html>
