<!DOCTYPE html>
<html>

<head>
<title>Littleflow</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="assets/css/uikit.min.css" />
<link rel="stylesheet" href="assets/css/site.css" />
<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/uikit.min.js"></script>
<script src="assets/js/uikit-icons.min.js"></script>
<script src="assets/js/svg-pan-zoom.js"></script>
<script src="assets/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/mermaid@10.2/dist/mermaid.min.js"></script>
</head>

<body>

<section class="uk-section uk-padding-small">
<div id="workflow">
<h1><span id="workflow-id"></span><span id="workflow-state"></span></h1>
<div id="workflow-content"></div>
</div>
</body>
</section>

<div id="render"></div>

</html>
