
#workflows .uk-width-expand {
   width: 80%;
}

#workflows .uk-accordion-title span {
   display: inline-block;
}

#workflows .uk-accordion-title span.status {
   vertical-align: top;
}

svg .statediagram-state.started rect {
   fill: rgba(0,100,0,0.5) !important
}

svg .statediagram-state.ended rect {
   fill: rgba(0,0,100,0.5) !important
}
