
#workflows .uk-width-expand {
   width: 80%;
}

#workflows .uk-accordion-title span {
   display: inline-block;
}

#workflows .uk-accordion-title span.state {
   vertical-align: top;
   padding-left: 1em;
}

svg .statediagram-state.started rect {
   fill: rgba(0,100,0,0.5) !important
}

svg .statediagram-state.ended rect {
   fill: rgba(0,0,100,0.5) !important
}

tr.started {
   background-color: rgba(0,100,0,0.25);
}
tr.started:nth-of-type(odd) {
   background-color: rgba(0,100,0,0.15) !important;
}

tr.ended {
   background-color: rgba(0,0,100,0.25);
}

tr.ended:nth-of-type(odd) {
   background-color: rgba(0,0,100,0.15) !important;
}
